[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
black = "*"
isort = "*"
flake8 = "*"
coverage = "*"
build = "*"
twine = "*"

[requires]
python_version = ">=3.9"
